.container {
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.user {
    border: 2px solid burlywood;
    padding: 20px 50px;
    border-radius: 20px;
    height: 250px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user__name {
    font-size: 20px;
    display: flex;
}

.user__email {
    margin-top: 5px;
}